.left {
  min-height: 600px;
  min-width: 300px !important;
  margin-right: 80px;
}
.left__avatar-img {
  border-radius: 50%;
}
.left__btn {
  width: 100%;
  background-color: #f6f8fa;
  border: 1px solid #d5d8da;
  &:hover {
    background-color: #f6f8fa;
    border: 1px solid #d5d8da;
  }
}
.left__followers-wrapper {
  display: flex;
  align-items: center;
}
.left__follower-links {
  color: #000;
  font-weight: bold;
}
.left__login-link {
  color: #000;
}
.left__name {
  font-weight: bold;
  font-size: 28px;
  margin-top: 15px;
}
