.top-links {
  margin-bottom: 55px;
  padding-top: 55px;
  border-bottom: 1px solid rgb(175, 175, 175);
}
.top-links__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 700px;
}
.top-links__list-item {
  margin-right: 65px;
  padding: 7px;
  border-radius: 8px;
  &:hover {
    background-color: rgba(235, 230, 230, 0.507);
  }
}
.top-links__item-link {
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  &:hover {
    color: #333;
  }
}
.text-underlined {
  border-bottom: 2px solid rgb(221, 2, 2);
  border-radius: 2px;
}
