.overview {
  width: 100%;
}
.overview__title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.overview__title {
  color: #24292f;
  font-size: 22px;
}
.overview__title-link {
  color: #24292f;
  font-size: 16px;
}
.overview__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.overview__list-item {
  width: 460px;
  border-radius: 8px;
  padding: 20px 20px 10px 20px;
  margin-bottom: 18px;
  border: 1px solid #d0d7de;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.overview__card-link {
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
.overview__lang-text {
  margin-top: 40px;
  color: #565e68;
  position: relative;
  padding-left: 20px;
}
.overview__span-wrapper {
  position: relative;
}
.overview__lang-span {
  position: absolute;
  top: 45px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.overview__public-link {
  border: 1px solid #d0d7de;
  border-radius: 12px;
  padding-left: 9px;
  padding-right: 9px;
  color: #6b737c;
}
